.main-title {
    color: rgb(91, 109, 114) !important;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    }
.sub-header {
    color: #387ec0;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    }
.stButton button {
    background-color: #a1a1a1;
    color: rgb(91, 109, 114)!important;
    border: black !important;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    }
.stButton button:hover {
    background-color: rgba(230, 227, 227, 0.753);
    color: black;
    border: 2px solid #6e726e;
    }
.stTextArea textarea {
    font-size: 16px;
    }
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }